body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000000;
}

/* Container */
.container {
    width: 350px;
    margin: 80px auto;
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 100px white;
    text-align: center;
}

/* Heading */
h1 {
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

/* Inputs */
input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Button */
button {
    width: 95%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 0 10px rgb(35, 115, 220);
}

button:hover {
    background-color: #0056b3;
}

/* Links */
a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

/* Messages */
.error {
    color: red;
}

.success {
    color: green;
}